/* Table.css */
.table-container {
   max-height: 450px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow-y: auto; 
  overflow-x: auto;

  }
  
  table {
    width: 95%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
  }
  
  th {
    font-family: 'roboto', sans-serif;
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  td {
    font-family: sans-serif;
    border-bottom: 1px solid #ddd;
  }