/* main */
body {
    margin: 0%;
    padding: 0%;
}

.main_student {
    display: flex;
    flex-direction: row;
}

/* leftside */
.side_overview {
    width: 80%;
    padding: 10px 0px 0px 20px;
    display: flex;
    flex-direction: column;

}

/* heading */
.over {
    font-family: 'Roboto', sans-serif;
}

/* search */
.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
.search-input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }

/* options */
.over_options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    align-items: center;
    width: 100%;
    height: 300px;
    flex-wrap: wrap;

}

.opt {
    margin: 0px 40px 0px 5px; 
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 30px;
    border: 2px solid #000;
    gap: 8px;
}
.opt_h2{
    font-family: 'roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 100;
}


/* POPUP */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    font-family: 'roboto', sans-serif;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 300px;
  }
  input[type="file"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .popup-buttons {
    margin-top: 30px;
  }
  
  .upload-btn {
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 200px;
    height: 70px;
  }
  
  
  
  .upload-btn:hover {
    background: #218838;
  }
  
  .close-btn:hover {
    background: #c82333;
  }
  